/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header-top, .header-bottom {
    padding: 20px;
}

.header-top{
    color: rgb(24, 219, 226);
    
  }
.header-bottom {
    display: flex;
    color: white;
    background-color: rgb(24, 219, 226);
    gap: 20px;
    justify-content: center;
    text-transform: uppercase;
}

/* MAIN */
.container, .square{
    display: flex;
}

.container {
    flex-flow: row wrap;
    background-color: rgb(197, 196, 196);
    gap: 20px;
}
.square {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}