/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header-top, .header-bottom {
    padding: 20px;
}

.header-top{
    color: rgb(24, 219, 226);
    
  }
.header-bottom {
    display: flex;
    color: white;
    background-color: rgb(24, 219, 226);
    gap: 20px;
    justify-content: center;
    text-transform: uppercase;
}

/* MAIN */
#container, .square{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    flex-flow: row wrap;
    background-color: rgb(216, 216, 216);
    padding: 40px;
    gap: 20px;

}
.square {
    flex-direction: column;
    border-radius: 20px;
}

.square span {
    text-transform: uppercase;
    display: block;
    font-weight:400;
    padding-top: 10px;
    font-size: 25px;
  }